.user-input .location-button {
  padding: 0.75rem 1.5rem;
  width: 150px;
  font-size: var(--font-size--standart);
  color: var(--brand-white-font-button-color);
  background-color: var(--brand-blue-button-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-family: "Omnes Black", system-ui, sans-serif;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: var(--brand-darkblue-border-button-color);
}

.user-input .location-button:hover {
  background-color: var(--brand-blue-button-color-hover);
}

.user-input .location-button:active {
  transform: scale(0.98);
}

.user-input .location-button:focus,
.user-input .location-button:active {
  outline: none;
  box-shadow: none;
}
.user-input .location-button.shake {
  animation: shake 0.5s ease-in-out;
}
