.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--brand-blue-color);
  font-family: "Omnes Italic";
  color: var(--brand-white-font-color);
  padding: 10px 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand {
  font-size: 44px;
  font-weight: bold;
}

.navbar.hide {
  transform: translateY(-100%);
}

.navbar.show {
  transform: translateY(0);
}
.theme-toggle {
  background: none;
  border: none;
  color: var(--brand-white-font-color);
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.mode-style {
  margin-right: 40px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
