.price-summary {
  width: 300px;
  background-color: var(--brand-white-font-color);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  font-family: "Omnes Regular", sans-serif;
  font-size: var(--font-size--standart);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.welcome-container {
  height: 300px;
  width: 300px;
  border-radius: 16px;

  padding: 1.5rem;
  text-align: center;
  font-family: "Omnes Regular", sans-serif;
  font-size: var(--font-size--standart);
  color: var(--main-dark-grey-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  user-select: none;
  -webkit-user-drag: none;
}
input {
  color: var(--main-dark-grey-color);
}
.container-card-info{
  padding: 8px
}
.welcome-container h2 {
  color: var(--main-light-gray-color);
  font-family: "Omnes SemiBold", sans-serif;
}


@media (max-width: 768px) {
  .price-summary {
    margin-top: 30px;
  }
}


.price-summary:hover  {
  transform: translateY(-3px) scale(1.05); 
  box-shadow: 0 8px 22px var(--levitation-card-color);

}

.welcome-container {
  
  font-family: "Omnes SemiBold", sans-serif;
}
.price-summary h2 {
  font-family: "Omnes SemiBold", sans-serif;
  color: var(main-light-gray-color);
}
.price-summary p {
  margin: 0.5rem 0;
  font-size: var(--font-size--standart-order);
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
  color: var(--order-data-info);
}

.price-summary p span {
  font-family: "Omnes SemiBold", sans-serif;
  color: var(--brand-blue-color);
}

.info-icon {
  margin-right: 5px;
}

.divider-price-summary {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .price-summary {
    padding: 1rem;
  }

  .price-summary p {
    font-size: var(--font-size--standart);
  }
}
.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--main-dark-grey-color);
  font-size: 0.7rem;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.price-summary p span {
  font-family: "Omnes SemiBold", sans-serif;
  color: var(--brand-blue-color);
  display: inline-flex;
  align-items: center;
}

.info-icon:hover {
  background-color: var(--brand-blue-color);
  color: var(--brand-white-font-color);
}

.info-icon:hover::after {
  content: attr(title);
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 10;
}
